<!DOCTYPE html>
<html>
    <%- include ('partial/head.ejs') %>
<body>
    <div class="container">
    <%- include ('partial/header.ejs') %>
    <div class="row">
        <%- include ('partial/leftcolumn_passage.ejs') %>
        <%- include ('partial/rightcolumn.ejs') %>
    </div>
    </div>
</body>
</html>