<!DOCTYPE html>
<html>

    <%- include ('partial/n_head.ejs') %>

	<body>

        <%- include ('partial/n_header_about.ejs') %>
	
        <%- include ('partial/n_sidebar.ejs') %>

        <%- include ('partial/np_about.ejs') %>
        </div>
	</body>
</html>