/*@font-face {
  font-family: 'STHEI';
  src: url('../font/hycufangsongj.ttf');
}*/

* {
    box-sizing: border-box;
    --columnSpace: 10px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
  font-weight:normal;
}

body {
    font-family: Arial, Helvetica;
    padding: var(--columnSpace);
    background: #ECF0F1;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0;
}

.container{ width: 1080px;}

/**/
/*////  以下是设置header ////////////////////*/
/**/
.header {
    height: 120px;
    text-align: center;
    background-image: url('/img/header-background.jpg');
}
.header .title{
  padding: 30px 0 15px 0;
  font-size: 36px;
}

.header .subheader{
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: gray;
}

.subheader div{
  width: 100px;
  cursor: pointer;
}

/**/
/*////  以下是设置mainbody ////////////////////*/
/**/

.row{
  display: flex;
}

.column{
  width: 100%;
  display: block;
}

.card {
  display: block;
  background-color: white;
  padding: var(--columnSpace);
  margin-top: var(--columnSpace);
  border-radius: 2px;
}

.titleLink{
  cursor:pointer;
}

.bodylist{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 30;
  -webkit-box-orient: vertical;
  padding: 0px;
}

.date{
  margin: 5px 0 15px 0;
}

.showmore{
  display: inline-block; 
  margin-top: 20px; 
  color: gray; 
  font-size: 12px; 
  cursor: pointer;
}


p{
  margin-top: 0px;
  padding: 0;
  line-height: 1.8em;
}

/**/
/*////  以下是设置pagelist ////////////////////*/
/**/

.page, .page div {
    display: flex;
    align-items: center;
    padding: 10px 5px;
  }

.page div{
  cursor: pointer; 
}

/**/
/*////  以下是设置about list ////////////////////*/
/**/

.about{
  margin-top: 10px;
}

/**/
/*////  以下是设置about list ////////////////////*/
/**/

a:link { 
  text-decoration: none; 
  color: black;
} 
a:visited { 
  text-decoration: none; 
  color: black;
} 
a:hover { 
  text-decoration: none; 
  color: black;
} 
a:active { 
  text-decoration: none; 
  color: black;
}

@media screen and (max-width: 1080px) {
    .leftcolumn{   
      width: 100%;
      padding: 0;
    }
    
    .rightcolumn {
      width: 100%;
      padding: 0px;
    }
    
    .row{
      display: block;
    }
  }
