* {
    box-sizing: border-box;
    --columnSpace: 20px;
}


body {
    font-family: Arial;
    padding: var(--columnSpace);
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.header {
    padding: var(--columnSpace);
    font-size: 20px;
    text-align: center;
    background: white;
}

.row{
    display: flex;
}

.page, .page div {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.leftcolumn {   
/*    float: left;*/
    width: 75%;
}

.rightcolumn {
/*    float: left;*/
    width: 25%;
    padding-left: var(--columnSpace);
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: var(--columnSpace);
}

/* Add a card effect for articles */
.card {
    display: block;
    background-color: white;
    padding: var(--columnSpace);
    margin-top: var(--columnSpace);
    border-radius: 10px;
 }

.bodylist{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding: 0px;
}

.bodylist p{
  margin: 0px;
  padding: 0px;
}

.bodypassage p{
  margin: 0px;
  padding: 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Footer */
.footer {
    padding: var(--columnSpace);
    text-align: center;
    background: #ddd;
    margin-top: var(--columnSpace);
  }

  @media screen and (max-width: 1080px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  a:link { 
    text-decoration: none; 
    color: black;
  } 
  a:visited { 
    text-decoration: none; 
    color: black;
  } 
  a:hover { 
    text-decoration: none; 
    color: black;
  } 
  a:active { 
    text-decoration: none; 
    color: black;
  }