/*@font-face {
  font-family: 'STHEI';
  src: url('../font/hycufangsongj.ttf');
}*/

* {
    box-sizing: border-box;
    --columnSpace: 10px;
}

body {
    font-family: Arial, Helvetica;
    padding: var(--columnSpace);
    background: #ECF0F1;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0;
}

.container{
  width: 1080px;
}

.header {
    padding: var(--columnSpace);
    font-size: 20px;
    text-align: center;
/*    background: #95e1d3;*/
    background: LightSkyBlue;
}

h3{
  padding: 0px;
  margin: 10px 0 15px 0;
  font-weight:normal;
}

h5{
  margin-top: 0;
  margin-bottom: 15px;
  font-weight:normal;
}

.row{
    display: flex;
}

.page, .page div {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.leftcolumn {   
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: var(--columnSpace);
}

.card {
    display: block;
    background-color: white;
    padding: var(--columnSpace);
    margin-top: var(--columnSpace);
    border-radius: 2px;
 }

.bodylist{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding: 0px;
}

.bodylist p{
  margin: 0px;
  padding: 0px;
}

.bodypassage p{
  margin: 0px;
  padding: 0px;
}

a:link { 
  text-decoration: none; 
  color: black;
} 
a:visited { 
  text-decoration: none; 
  color: black;
} 
a:hover { 
  text-decoration: none; 
  color: black;
} 
a:active { 
  text-decoration: none; 
  color: black;
}

@media screen and (max-width: 1080px) {
    .leftcolumn{   
      width: 100%;
      padding: 0;
    }
    .rightcolumn {
      display: inline-block;
      width: 100%;
      padding: 0px;
    }
    
    .row{
      display: block;
    }
  }
