<!DOCTYPE html>
<html>
    <%- include ('partial/head.ejs') %>
<body>
    <div class="container">
        <%- include ('partial/header.ejs') %>
    <div class="row">
        <%- include ('partial/column_list.ejs') %>
    </div>
    </div>
</body>
</html>