.my_foot {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0
}
    
.my_foot a {
    text-decoration: none;
    margin-right: 10px;
    display: inline-block
}
    
.my_foot a img {
    width: 30px;
    height: 30px
}