<div class="column">
    <div class="card">
        <div><h3><%=json.blogs[passageID].title%></h3></div>
        <div>
            <div class="date"><h5><%= json.blogs[passageID].date%></h5></div>
            <div><%- json.blogs[passageID].body%></div>
        </div>
    </div>
    <%- include ('backtolist.ejs') %>
</div>