<div class="header" style="background-image: url('/img/aboutme.jpg');">
    <h2>家庭作业</h2>
    <div class="subheader">
        <div><a href="/"><h5>博客</h5></a></div>
        <div><a href="/about"><h5>关于</h5></a></div>
        <div><a href="/contact"><h5>联系</h5></a></div>
    </div>
</div>