<head>		
    <title>Cheng&#39;s Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="./image/favicon.ico.png">
    <meta name="keywords" content="blog">
    <meta name="description" content="Chengs's Blog">

    <script src="./js/jquery.min.js"></script>
    <script src="./js/gotop.js"></script>

    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/food.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/sidebar.css">
    <link rel="stylesheet" href="./css/myfoot.css">
    <link rel="stylesheet" href="./css/cellphone.css">
    <link rel="stylesheet" href="./css/custom.css">

</head>
