<div class="header">
    <div class="title">家庭作业</div>
    <div class="subheader">
        <div><a href="/"><h5>博客</h5></a></div>
        <div><a href="/about"><h5>关于</h5></a></div>
        <div><a href="/bishun"><h5>笔顺</h5></a></div>
    </div>
</div>