<div class="header">
    <div class="title">家庭作业</div>
    <div class="subheader">
        <div><a href="/"><h5>博客列表</h5></a></div>
        <div><a href="/about"><h5>关于我的</h5></a></div>
        <div><a href="/bishun"><h5>笔顺演示</h5></a></div>
        <div><a href="/bishunsheet"><h5>笔顺练习</h5></a></div>
        <div><a href="/pdfsheets"><h5>写字练习</h5></a></div>
        <div><a href="/calc"><h5>加减练习</h5></a></div>
        <div><a href="/clock"><h5>时钟练习</h5></a></div>
    </div>
</div>