<div class="leftcolumn">

    <div class="card">
        <div><h3><%=json.blogs[passageID].title%></h3></div>
        <div class="body">
            <h5><%= json.blogs[passageID].date%></h5>
            <p><%- json.blogs[passageID].body%></p>
        </div>
    </div>
    <%- include ('backtolist.ejs') %>
</div>