<!-- 页面很窄时菜单按钮的下拉菜单 -->
<div class="sidebar">
    <div class="topo"><h2>I'm Cheyenne</h2></div>

    <ul>
        <li><a href="/">博客</a></li>
        <li><a href="/about">关于我</a></li>
        <li><a href="/work">练习</a></li>
        <!--
        <li><a href="/tags">TAGS</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/links"></a></li>
        -->
    </ul>

    <!-- 底部一排分享小图标 -->
    <div class="my_foot">
        <a target="_blank" rel="noopener" href="https://github.com/phidiascheng"><img src="https://cdn.jsdelivr.net/gh/duogongneng/MyBlogImg/imggithub.png" alt="Quiet"></a>
    </div>
</div>

<!-- 菜单展开时左侧点击区域，点击收起菜单 -->
<div class='shelter' style='cursor: pointer;display: none; position: fixed;left: 0;top: 0; right: 0;bottom: 0;background-color: #333;opacity:0.5;z-index: 108;'></div>

<!-- 侧面菜单动画 -->
<script>
    $(function () { 
        $('.h-right-close>svg').click(function () { 
            $('.sidebar').animate({ width: "66%" }, 500); 
            $('.shelter').fadeIn("slow") }); 
            $('.shelter').click(function (e) { 
                $('.sidebar').animate({ width: "0" }, 500); 
                $('.shelter').fadeOut("slow") 
            }) 
        })
</script>

