<!-- 导航栏下面的头像 -->
<div class="header-bg-p">
	<div class="bg-content"><span><img class="site-logo" src="./image/logo.png" alt="Q"></span><h2>Hi, i&#39;m Cheyenne</h2></div>
</div>

<!-- 页面 主体 -->
<div class="main">
	<div class="feed">
		<!--%- include ('./n_blogpassage.ejs') %-->



		<div class="feed-display">
			<a>
				<h2 class="feed-title">I'm Cheyenne.</h2>
			</a>
				<div class="info-data">Nice to meet you.</div>
				<div class="bodylist">
					<p>我的英文名叫Cheyenne，我来自重庆，我在四川外国语大学九龙坡区附属小学上一年级。</p>
						<img src="img/aboutme.JPG" alt="Quiet">
				</div>
		</div>
		
		<div style="width: 100%;">
			<div class="page">
				<div><a href="/">[返回博客]</a></div>
			</div>
		</div>
		
		


	</div>
</div>


<!-- 打开页面时所有卡片的上拉动画 -->
<!--div class="change-page"></div
<script>
	$(function () { 
		$('.feed').addClass('move'); 
	})
</script>
-->

<!-- 底部一排分享菜单 -->
<div class="footer">
	<!--
	<div class="Copyright">©2022 taire | <a target="_blank" rel="noopener" href="https://taire.de/imprint.html">Impressum</a></div>
	-->
	<div class="contact">
		<a target="_blank" rel="noopener" href="https://github.com/phidiascheng"><img src="https://cdn.jsdelivr.net/gh/duogongneng/MyBlogImg/imggithub.png" alt="Quiet"></a>
	</div>
</div>

<!-- 返回top按钮 -->
<div class="goTop" id="js-go_top">
	<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g><path d="M13 12v8h-2v-8H4l8-8 8 8z"></path></g></svg></span>
</div>


<!-- 返回top按钮动画 -->
<script>
	$('#js-go_top').gotoTop({ 
		offset: 500, 
		speed: 300, 
		animationShow: { 'transform': 'translate(0,0)', 'transition': 'transform .5s ease-in-out' }, 
		animationHide: { 'transform': 'translate(100px,0)', 'transition': 'transform .5s ease-in-out' } 
	});
</script>
