<div class="rightcolumn">
    <div class="card">
        <h2>About Me</h2>
        <div style="display: flex; justify-content: center;">
            <img style="height:100px;width:100px;margin-right: 10px;" src="/img/aboutme.jpg" />
            <img style="height:100px;width:100px;margin-right: 10px;" src="/img/aboutme1.jpg" />
            <img style="height:100px;width:100px;margin-right: 10px;" src="/img/aboutme2.jpg" />
        </div>
        <p style="padding: 0px; margin-bottom: 0px;">我的英文名叫Cheyenne，我来自重庆，我在四川外国语大学附属九龙小学上一年级</p>
    </div>
<!--
    <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div>
    </div>
    <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
    </div>
-->
</div>
